.highlightMenu {
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
    background-color: black;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    user-select: auto;
    pointer-events: auto;
    transition: opacity 0.4s;
    z-index: 10;
    opacity: 1;

    > *:first-child, > *:not(:first-child) {
        margin-top: 5px;
    }
}
.highlightMenu::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.colorsButton {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: blue;
    border: none;
}

.pink {
    background-color: #fa9295;
}
.pink:active {
    background-color: #df6d71;
}

.yellow {
    background-color: #ffe159;
}
.yellow:active {
    background-color: #e1be3d;
}

.blue {
    background-color: #59fff1;
}
.blue:active {
    background-color: #32d3d0;
}