.picker {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: blue;
    border: none;
}

.picker input {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
